@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    Use for recognizing image(s) or document(s), for more question(s) please contact to developer : aspenik@trask.cz
</div>

<div class="row">
   
</div>